.header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    display: inline-block;
  }

  
  .addButton
  {
    position: relative;
    color: #fff;
    background-color: #f5ba13;
    border-radius: 10%;
    font-family: "McLaren", cursive;
    font-weight: 200;
    left: 85%;
    border: 100px;
    text-align: right;
    display: inline;
  }